.App {
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

.modal {
    position: fixed;
    inset: 0;

    &__overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #e74c3c;
        border-radius: 0.5rem;
        max-width: 618px;
        width: 100%;
        border-radius: 4px;
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        color: #fff;
        font-size: 26px;
    }

    &__header {
        margin-bottom: 1rem;
        background-color: #d44637;
        padding: 0 75px 0 32px;
        height: 68px;
        border-radius: 4px 4px 0 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 22px;
        font-weight: 500;
        color: #fff;
    }

    &__text {
        text-align: center;
        color: #fff;
        font-size: 15px;
        max-width: 460px;
        margin: 28px auto 0;
        line-height: 1.6;
    }

    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin: 30px 0;
    }
}