body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn {
  --bg: #b3382c;
  --bg-hover: #9f2f25;
  min-width: 101px;
  min-height: 41px;
  border-radius: 4px;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #fff;
  transition: .3s;
  padding: 0 20px;

  &:hover {
    background-color: var(--bg-hover);
  }



  &-first-modal {
    --bg: #f0db41;
    --bg-hover: #efd308;
  }

  &-second-modal {
    --bg: #c7bcb9;
    --bg-hover: #aea8a6;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}