
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
main {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
a {
	background-color: transparent;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
img {
	border-style: none;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
	-webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details {
	display: block;
}
summary {
	display: list-item;
}
template {
	display: none;
}
[hidden] {
	display: none;
}

:root {
	--pr: #0b60e7;
	--pr-rgb: 1, 96, 231;
	--hover-pr: #236fe9;
	--nav-padding: 24px;
	--nav-color: #3c3c43;
	--nav-color-rgb: 60, 60, 67;
	--block-padding: 32px;
	--container-padding: 25px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6;
	background-color: #fafafa;
}

a {
	--color: #000;
	--bg: transparent;
	--hover-color: var(--pr);
	--hover-bg: transparent;
	color: var(--color);
	background-color: var(--bg);
	text-decoration: none;
	display: inline-flex;
	transition: 0.25s;
}

a:hover {
	color: var(--hover-color);
	background-color: var(--hover-bg);
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

svg {
	width: 1em;
	height: 1em;
	position: relative;
}

.hidden {
	display: none !important;
}

.d-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-success {
	color: green;
}

.form-empty {
	color: red;
}
/* 
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 var(--container-padding);
} */
/* 
.container-fill {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 var(--container-padding);
} */

.logo {
	--color: #363837;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2;
	transform: scale(1);
}

.logo:hover {
	transform: scale(1.1);
}

.title-square {
	position: relative;
	padding-top: 85px;
	min-height: 176px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.title-square::before,
.title-square::after {
	content: "";
	z-index: 0;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.title-square::before {
	top: 26px;
	width: 94px;
	height: 150px;
	border: 5px solid #e9ecef;
	border-radius: 8px;
}

.title-square::after {
	z-index: 1;
	width: 3px;
	height: 60px;
	background-color: #fee085;
}

.title-square .title-square__small {
	z-index: 1;
	font-size: 15px;
	font-weight: 500;
	color: #6c757d;
}

.title-square .title-square__main {
	z-index: 1;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;
}

.no-result {
	--text-color: #6c757d;
	--text-size: 14px;
	--text-weight: 600;
	--img-size: 120px;
	--img-gap: 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--img-gap);
}
.no-result .no-result__img {
	max-width: var(--img-size);
	margin: 0;
	flex: 1 0 auto;
}
.no-result .no-result__title {
	color: var(--text-color);
	font-size: var(--text-size);
	font-weight: var(--text-weight);
	line-height: var(--text-lh);
}
.no-result.no-result--center {
	align-items: center;
}
.no-result.no-result--inline {
	flex-direction: row;
	align-items: center;
}

.dropdown {
	--btn-h: 50px;
	position: relative;
	display: inline-flex;
}

.dropdown-btn {
	color: #000;
	padding: 0 0;
	border: none;
	cursor: pointer;
	position: relative;
	z-index: 2;
	min-height: var(--btn-h);
	padding-right: 28px;
	display: flex;
	align-items: flex-start;
	font-size: 26px;
}

.dropdown-btn::after {
	content: "\203A";
	position: absolute;
	top: -1px;
	right: 0;
	transform: rotate(90deg);
	font-size: 120%;
}

.dropdown-content {
	transition: 0.25s;
	opacity: 1;
	transform: scale(0);
	padding: 16px 14px;
	position: absolute;
	top: -50px;
	left: 0;
	background-color: #ffffff;
	min-width: 160px;
	z-index: 1;
	box-shadow: 0 5px 22px 0 rgba(208, 219, 229, 0.62), 0 2px 3px 0 rgba(107, 132, 160, 0.18), 0 5px 5px 0 rgba(237, 239, 242, 0.36);
	border-radius: 15px;
}

.dropdown:hover .dropdown-content {
	opacity: 1;
	transform: scale(100%);
	top: calc(var(--btn-h) + 30px);
}

.dropdown-content .dropdown-item {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: #6c798e;
	transition: 0.3s;
	font-weight: 600;
	font-size: 14px;
	min-width: 200px;
	border-radius: 10px;
}

.dropdown-content .dropdown-item.active,
.dropdown-content .dropdown-item:hover {
	background-color: #ebf1fc;
	color: var(--pr);
}

.article .page-content a,
.link-hover {
	--line-bottom: 0;
	position: relative;
}

.article .page-content a::before,
.link-hover::before {
	content: "";
	position: absolute;
	bottom: var(--line-bottom);
	right: 0;
	width: 0;
	height: 0;
	border-bottom: 1px solid;
	transition: width 0.25s;
}

.article .page-content a:hover::before,
.link-hover.active::before,
.link-hover:hover::before {
	left: 0;
	width: 100%;
}

/**
 * Навігація
 */
.hamburger {
	--size: 2em;
	--size-stroke: 2;
	--time: 500ms;
	--color: #fff;
	cursor: pointer;
	width: var(--size);
	height: var(--size);
	position: relative;
}

.hamburger input {
	display: none;
}

.hamburger svg {
	width: var(--size);
	height: var(--size);
	transition: transform var(--time) cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger .line {
	fill: none;
	stroke: var(--color);
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: var(--size-stroke);
	/* Define the transition for transforming the Stroke */
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger .line-top-bottom {
	stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
	transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
	stroke-dasharray: 20 300;
	stroke-dashoffset: -32.42;
}

.menu {
	display: flex;
	gap: var(--nav-padding);
}

.menu .menu__li {
}

.menu .menu__link {
	--line-bottom: -8px;
	--color: var(--nav-color);
	font-size: 14px;
	padding: 0;
}

.navigation {
	padding: calc(var(--block-padding) * 2) 0;
	position: relative;
    z-index: 9;
}

.navigation .logo {
}

.navigation .navigation__hold {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation .navigation__left,
.navigation .navigation__right {
	width: 40%;
}

.navigation .navigation__left {
}

.navigation .navigation__middle {
	flex: 1 0 200px;
	text-align: center;
}

.navigation .navigation__right {
	display: flex;
	justify-content: flex-end;
}

.navigation .navigation__right .navigation__item-list {
	margin-right: -20px;
}

.navigation .navigation__item-list {
	display: flex;
}

.navigation .navigation__item {
	position: relative;
}

.navigation .navigation__item-link {
	--color: rgba(var(--nav-color-rgb), 0.75);
	padding: 0 calc(var(--nav-padding) / 1.25);
	font-size: 20px;
	min-width: 60px;
	display: flex;
	text-align: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
}

.navigation .navigation__item-link:hover {
	transform: scale(1.15);
}

.navigation .navigation__item-link .icon {
	top: -2px;
}

.navigation .navigation__item-link .cart-added-summ {
	top: -28px;
	left: 50%;
	right: initial;
	transform: translate(-50%, 0);
}

/**
 * Каталог товарів
 */
.catalog {
	padding-bottom: var(--block-padding);
}

.catalog .catalog__content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px 35px;
}

/**
 * Карточка каталогу
 */
.card-product {
	--link: #000;
	--hover-link: var(--pr);
	flex: 1 1 335px;
	max-width: 335px;
}

.card-product .card-product__img-hold {
	text-align: center;
	min-height: 264px;
}

.card-product .card-product__img {
	width: 100%;
	max-width: 100%;
	max-height: 264px;
	border-radius: 15px;
	cursor: pointer;
}

.card-product .card-product__text-hold {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	padding: 18px 50px 0 0;
	margin-bottom: 40px;
}

.card-product .card-product__title-link {
	transition: 0.25s;
	color: var(--link);
	font-size: 14px;
	font-weight: 600;
	line-height: 1.4;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.card-product .card-product__title-link:hover {
	color: var(--hover-link);
}

.card-product .card-product__price {
	font-size: 13px;
	color: #6c798e;
	font-weight: 500;
}

.card-product .card-product__price small {
	position: relative;
	margin: 0 4px;
	opacity: 0.8;
}

.card-product .card-product__price small::before {
	content: "";
	position: absolute;
	top: 48%;
	left: 0px;
	width: 100%;
	height: 0;
	border-bottom: 1px solid;
	opacity: 0.4;
	transform: rotate(355deg);
}

.card-product .card-product__btn-add {
	color: var(--link);
	transition: 0.25s;
	position: absolute;
	top: 3px;
	right: 0;
	padding: 14px 12px 14px 14px;
	font-size: 18px;
	line-height: 1;
	cursor: pointer;
}

.card-product .card-product__btn-add:hover {
	color: var(--hover-link);
	transform: scale(1.2);
}
.btn {
	--bg: #b3382c;
	--bg-hover: #9f2f25;
	min-width: 101px;
	min-height: 41px;
	border-radius: 4px;
	background-color: var(--bg);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	color: #fff;
	transition: .3s;
	padding: 0 20px;
}
	.btn:hover {
	  background-color: var(--bg-hover);
	}
.btn-light {
	--size: 28px;
	--color: #7f85a2;
	--bdrs: 10px;
	--bg: #e5e7ec;
	--fz: 14px;
	--icon-top: 0;
	--icon-right: 0;
	--hover-color: #000;
	--hover-bg: #e5e7ec;
	background-color: var(--bg);
	color: var(--color);
	border-radius: var(--bdrs);
	width: var(--size);
	height: var(--size);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: 0.25s;
	padding: 0;
	font-size: var(--fz);
	border: none;
	cursor: pointer;
	outline: none !important;
}

.btn-light:active,
.btn-light:hover {
	color: var(--hover-color);
	background-color: var(--hover-bg);
}

.btn-light:focus {
	box-shadow: 0 0 0 3px rgba(216, 217, 219, 0.5);
}

.btn-light .icon {
	top: var(--icon-top);
	right: var(--icon-right);
}

.cart-added-summ {
	--size: 18px;
	position: absolute;
	top: -5px;
	right: -5px;
	min-width: var(--size);
	min-height: var(--size);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	font-weight: 700;
	background-color: #eb4c42;
	border-radius: 10px;
	padding: 0 5px;
	color: #fff;
	z-index: 2;
	transition: 0.3s;
	opacity: 0;
}

.cart-added-summ.show-num {
	opacity: 1;
}

/**
 * Список добавлених товарів
 */
.cart-added-list .cart-added-list__btn,
.cart-added-list .cart-added-list__item-list,
.cart-added-list .cart-added-list__item-btn-plus::before,
.cart-added-list .cart-added-list__item-btn-minus::before,
.cart-added-list .cart-added-list__item-title-link {
	transition: 0.25s;
}

.cart-added-list {
	--item-size: 300px;
	--item-indent: 34px;
	position: absolute;
	top: 30px;
	left: -250px;
	width: var(--item-size);
	background-color: #fff;
	padding: 15px;
	border-radius: 15px;
	min-height: 93px;
	max-height: 300px;
	overflow-y: auto;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cart-added-list.show {
	display: flex;
}
.cart-added-list .no-result {
	--img-size: 96px;
	--text-weight: 500;
	--text-color: #e01d1d;
}

.cart-added-list .cart-added-list__item {
	--img-bdrs: 6px;
	--img-size: 80px;
	--bottom-size: 12px;
	--btn-bdrs: 7px;
	--btn-size: 21px;
	gap: 15px;
	min-height: calc(var(--btn-size) * 3);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin-bottom: var(--bottom-size);
	padding-bottom: var(--bottom-size);
	border-bottom: 1px solid #f8f9fa;
	width: 100%;
}

.cart-added-list .cart-added-list__item:last-child {
	--bottom-size: 0;
	border-bottom: none;
}

.cart-added-list .cart-added-list__item-img {
	max-width: var(--img-size);
	max-height: calc(var(--btn-size) * 3);
	border-radius: var(--img-bdrs);
	display: block;
}

.cart-added-list .cart-added-list__item-text-hold {
	margin: 0;
	padding-right: var(--btn-size);
	width: 100%;
}

.cart-added-list .cart-added-list__item-title-link {
	color: #000;
	line-height: 1.18;
	font-size: 14px;
	font-weight: 600;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 150px;
	margin-bottom: 2px;
}

.cart-added-list .cart-added-list__item-title-link:hover {
	color: #0b60e7;
}

.cart-added-list .cart-added-list__item-meta-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.cart-added-list .cart-added-list__item-meta {
	color: #6c798e;
	font-size: 10px;
	font-weight: 500;
}

.cart-added-list .cart-added-list__item-btn-delete,
.cart-added-list .cart-added-list__item-btn-plus,
.cart-added-list .cart-added-list__item-btn-minus {
	--size: var(--btn-size);
	--bdrs: var(--btn-bdrs);
	position: absolute;
}

.cart-added-list .cart-added-list__item-btn-delete {
	--bg: rgb(229 231 236 / 30%);
	--icon-right: 1px;
	--hover-color: #ff4d4d;
	--size: var(--btn-size);
	margin-left: auto;
	margin-right: 0px;
	left: 0px;
	top: 0px;
	border-radius: var(--img-bdrs) 0 var(--btn-bdrs) 0;
	font-size: 10px;
}

.cart-added-list .cart-added-list__item-btn-plus,
.cart-added-list .cart-added-list__item-btn-minus {
	--bg: rgb(229 231 236 / 20%);
	--hover-color: #0b60e7;
	top: 0;
	right: 0;
}

.cart-added-list .cart-added-list__item-btn-minus {
	top: calc(var(--btn-size) * 2);
}

.cart-added-list .cart-added-list__item-btn-plus:hover::before,
.cart-added-list .cart-added-list__item-btn-minus:hover::before {
	opacity: 1;
}

.cart-added-list .cart-added-list__item-btn-minus::before,
.cart-added-list .cart-added-list__item-btn-plus::before {
	content: "";
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 9px;
	opacity: 0.35;
}

.cart-added-list .cart-added-list__item-btn-minus::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='3.2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
}

.cart-added-list .cart-added-list__item-btn-plus::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='3.2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='12' y1='5' x2='12' y2='19'%3E%3C/line%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
}

.cart-added-list__item-count {
	position: absolute;
	top: var(--btn-size);
	right: 0;
	width: var(--btn-size);
	height: var(--btn-size);
	outline: none;
	border: none;
	font-size: 12px;
	font-weight: 600;
	color: #6c798e;
	text-align: center;
}




.modal {
	position: fixed;
	inset: 0;
	display: none;
	z-index: 999;
}
.modal.show {
	display: block;
}
.modal__overlay {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.modal__body {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #e74c3c;
	border-radius: 0.5rem;
	max-width: 618px;
	width: 100%;
	border-radius: 4px;
}
.modal__close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	color: #fff;
	font-size: 26px;
}
.modal__header {
	margin-bottom: 1rem;
	background-color: #d44637;
	padding: 0 75px 0 32px;
	height: 68px;
	border-radius: 4px 4px 0 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 22px;
	font-weight: 500;
	color: #fff;
}
.modal__text {
	text-align: center;
	color: #fff;
	font-size: 15px;
	max-width: 460px;
	margin: 28px auto 0;
	line-height: 1.6;
}
.modal__actions {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	margin: 30px 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.view-cards-table {
	flex-direction: column;
}
.view-cards-table .card-product {
	flex-direction: row;
	align-items: center;
    max-width: 100%;
	flex: 1 1 135px;
}
.view-cards-table .card-product .card-img-hold img {
	height: auto !important;
    min-width: auto !important;
    max-height: 155px !important;
}
.view-cards-table .card-product .card-text-hold {
	flex-direction: row;
    align-items: center;
    width: 100%;
	padding-left: 50px;
}
.view-cards-table .card-product .card-text-hold button {
	max-width: 300px;
}
.view-cards-table .card-product .card-text-hold .card-product__title-link {
	min-width: 200px;
}
.view-cards-table .card-product .card-text-hold .card-product__price {
	min-width: 100px;
}
.view-cards-table .card-product .card-text-hold .card-product__color {
	min-width: 150px;
}